:host {
  display: block;
  margin: 0 0 2rem;
}

* + h4 {
  margin-top: 2rem;
}

.input,
.result {
  width: 100%;
  height: 2.25em;
  min-height: initial;
  box-sizing: border-box;
  padding: 1ch 1em;
  border: solid 1px #777;
  border-radius: 0;
  resize: vertical;
  white-space: nowrap;
  font-family: var(--font-mono);
}

.input {
  height: 10em;
}
