<header class="header">
  <h1>Advent of Code</h1>
  <h2>2021</h2>
</header>

<nav class="nav">
  <ng-container *ngFor="let day of days">
    <a
      class="nav-item"
      routerLinkActive="nav-item--active"
      [routerLink]="'day-' + day.toString().padStart(2, '0')"
      >Day {{ day }}</a
    >
    <a
      class="nav-item"
      routerLinkActive="nav-item--active"
      [routerLink]="'day-' + day.toString().padStart(2, '0') + '-part-2'"
      >p2</a
    >
  </ng-container>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
