:host {
  display: grid;
  min-height: 100vh;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "header header"
    "nav    content";
  background: var(--background);
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: baseline;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.nav {
  grid-area: nav;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-content: start;
  gap: 0 0.5em;

  &-item {
    display: block;
    padding: 0.125em 0.5em;
    white-space: nowrap;

    &--active {
      background: var(--background-offset);
    }
  }
}

.content {
  grid-area: content;
}

@media (max-width: 600px) {
  :host,
  .header {
    display: block;
  }

  h1 {
    font-size: 3em;
    text-align: center;
  }

  h2 {
    font-size: 2em;
    text-align: center;
  }

  .nav {
    width: fit-content;
    margin: auto;
  }
}
