<app-star
  [day]="14"
  [isPart2]="true"
  [(input)]="input"
  [result]="result | async"
></app-star>

<p>Iterations: {{ iterations | number }}</p>
<p>Size: {{ size | number }}</p>
<div>
  Counts:
  <pre><code>{{ counts | json }}</code></pre>
</div>

<pre><code>{{ cache | json }}</code></pre>

<!-- <pre><code>input : {{ startingPolymer }}</code></pre>
<pre><code>result: {{ polymer }}</code></pre> -->
<!-- <pre><code>round 1 0½1</code></pre>
<pre><code>round 2 0¼½¾1</code></pre>
<pre><code>round 3 0⅛¼⅜½⅝¾⅞1</code></pre> -->

<!-- <pre><code>round 1 NCNBCHB</code></pre>
<pre><code>round 2 NBCCNBBBCBHCB</code></pre>
<pre><code>rount 3 NBBBCNCCNBBNBNBBCHBHHBCHB</code></pre> -->
